.about div .background {
  background: url(../../assets/agusbw.jpg);
  width: 23rem;
  height: 23rem;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(244, 183, 244, 0.2);
  transition: all 0.2s;
  box-shadow: 12px 12px 2px 1px rgba(240, 205, 240, 0.5);
}

.about div .background:hover {
  box-shadow: -12px 12px 2px -1px rgba(240, 205, 240, 0.5);
}
.background {
  background-position: right !important;
  background-size: cover !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100%;
}

.containerCenter {
  width: 85%;
  margin: 0 auto;
}

.span4 {
  grid-column: span 4;
}
.span6 {
  grid-column: span 8;
  align-self: center;
  justify-self: center;
  
}

.span10{
  grid-column: span 10;
}

.textContent.lateral {
  padding: 0 50px;
}

.cardItem{
max-width: auto;
padding: 1rem;
background-color: #fff;
border-radius: 10px;
/* border: .2px solid rgba(94, 92, 92, 0.091); */
/* box-shadow: 30px 30px 30px rgba(0, 0, 0, .05); */
margin: 1rem 0;
}

.title {
  font-weight: 600;
  color: rgb(31 41 55);
  margin: .4rem 0;
  letter-spacing: 3px;
}

.description {
  font-size: 0.875rem;
  line-height: 2rem;
  color: rgb(75 85 99);
  font-size: 17px;
}

@media (max-width: 1023px) {
    .grid{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .about div .background {
      background: url(../../assets/agusbw.jpg);
      width: 15rem;
      height: 15rem;
      justify-self: center;
      align-self: center;
      margin: 1rem 0;
      
    }

    .about.grid{
      gap: 1rem;
    }

    .textContent.lateral h3 {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin: .5rem 0 0 0;
    }
    .textContent.lateral p{
      text-align: center;
    }
  
    
}