.formContainer{
    background: rgb(246, 242, 246);
}

.contentWidth{
    width: 50%;
}

.form{
    background: linear-gradient(to top,  #ebcce7, #e6c2e5);
}


@media (max-width: 767px) {
    .contentWidth{
        width: 90%;
    }
}