.header{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/bg6.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: .9;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100%;
}

.containerCenter {
  width: 100%;
  margin: 0 ;
}

.span6 {
  grid-column: span 6;
}

.header .grid {
  justify-items: center;
  align-items: center;
}

.textContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.textContent.full {
  grid-column: span 12;
  gap: 2rem;
}

.textContent.full h2,
.textContent.full h3 {
  text-align: center;
  font-family: var(--rubik);
  color: white;
  text-shadow: 2px 2px 1px black, 2px 2px 1px black, 2px 2px 1px black;
}

.textContent.full h2 {
  font-size: 40px;
  letter-spacing: 10px;
  line-height: 1.5;
  font-weight: 200;
  color: rgb(234, 206, 234);
}

.textContent.full h3 {
  font-size: 50px;
  letter-spacing: 7px;
  line-height: 1;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .span6 {
    grid-column: 1;
  }

  .textContent.full {
    grid-column: 1;
    width: 90%;
  }

  .textContent.full h2 {
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 1.3;
    /* margin: 1rem; */
    color: rgb(234, 206, 234);
  }

  .textContent.full h3 {
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 1;
    margin: .5rem;
  }

  /* Ajuste de flexbox para evitar el scroll horizontal */
  .textContent.full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .textContent.full h2,
  .textContent.full h3 {
    width: 100%;
  }
  .header{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }
  
  .header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../../assets/img-cel.jpg);
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: .9;
    
  }
}
