
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
:root {
 --rubik: 'Rubik Mono One', sans-serif;
 --supreme: 'Supreme', sans-serif; 
 --satoshi: 'Satoshi', sans-serif;
 --latte: #A38F85;
 --stone: #CDC6C3;
 --ivory: #EDE9E3;
 --nude: #E7D7C9;
 --red: #D84339;
 --darkGrey: #909090;
 --grey: #b4b4b4;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--satoshi);
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

section{
  position: relative;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 480px) {
  section{
    position: relative;
    width: 100%;
    height: fit-content;
  }
  
}