.navbarIdea {
  background: linear-gradient(to top,  #ddb6d8, #d0a6cf);
  margin: 0;
  padding: 0;
}

.links a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  letter-spacing: 1.7px;
  font-size: 23px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.links a:hover {
  transform: scale(1.1);
  font-weight: 700;
}

.languageMenu {
  margin-left: 1rem;
  position: relative;
}

.languageButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  color: white;
}

.languageButton svg {
  margin-right: 8px;
  fill: #ffffff;
  width: 30px;
  height: 30px;
}

.languageDropdown {
  position: absolute;
  top: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.languageDropdown li {
  padding: 4px 8px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: #333;
}

.languageDropdown li:hover {
  background-color: #f1f1f1;
}

.btnLng {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

@media (max-width: 767px) {
  .navbarIdea {
    width: 100%;
  }
  
}